@charset "utf-8";

body {
	background-color: #4682E8;
}

#select-window-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.4;
	zindex: 2;
}

#select-window {
	position: absolute;
	width: 30%;
	height: 30%;
	top: 35%;
	left: 35%;
	border: 2px solid black;
	background-color:#FFFFFF;
	text-align: center;
	zindex: 3;
}

#manage-pres, #manage-pres-left {
	background-color: #DB8516;
}

#interf-pres, #interf-pres-left {
	background-color: #66C010;
}

#sw-pres, #sw-pres-right {
	background-color: #E86723;
}

#hw-pres, #hw-pres-right {
	background-color: #01ADDD;
}

#network-pres, #network-pres-right {
	background-color: #5D3EB3;
}

#sw, #hw, #nw, #manage, #interf {
	width: 1400px;
	height: 400px;
	left: 50%;
	margin-left: 350px;
}

.presentation-block {
	position: absolute;
	display: none;
	top: 45%;
	left: 45%;
	width: 10%;
	height: 10%;
	opacity: 0;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.video {
	position:absolute;
	width: 80%;
	left: 10%;
	margin-top: 50px;
	display: none;
}

.loader {
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-left: -130px;
	margin-top: 10px;	
}

.wait {
	top: 50%;
	left: 50%;
	margin-left: 35px;
	margin-top: -40px;
	font-size: 18px;
}

.right-page {
	width: 0%;
	height: 90%;
	left: 0%;
	top: 5%;
	opacity: 1;
}

.left-page {
	width: 0%;
	height: 90%;
	top: 5%;
	left: 100%;
	opacity: 1;
}

.opacity {
	opacity: 0.75;	
}

